
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     

}

:root {
     --blanco:#fffafa;
     --negro: #181818;
     --gris: #f7f2f2;
     --gris-oscuro: #918989;
     --gris-transparente:rgba(128, 128, 128, 0.144);
     --titulo:'Montserrat', sans-serif;
     --titulo-decorativo:'Dancing Script',cursive;
     --texto:'Open Sans', sans-serif;
}

body {

     font-family: var(--texto);
     width: 100wh;
     height: 100vh;
}

h2 {

     font-family: var(--titulo);
     font-size: 1.5em; 
     font-weight: 600;
     color: rgb(65, 61, 61);
   
}

h3 {

     font-family: var(--texto);
     font-size: 15px;
     font-weight: bold;
     
}

p {

     font-family: var(--texto);
     font-size: 13px;
     font-weight: lighter;
}

.products-deco {
     
     font-size: 4em;
     font-family: var(--titulo-decorativo);
     font-weight: 100;
     color: var(--gris-oscuro);
}

.opcion-products-titulo {

     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1em;
     padding: 1em;
     flex-wrap: wrap;
     margin-left: 1em;
     margin-top: 4em;
     
}





  .option-header-home {
       
       display: flex;
       padding: 2px;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       background-color:var(--negro);
       position: absolute;
       top: 105px;
       
  }
 .option-header-home .nav-home {

  
     margin-left: 6rem;
   
       
 }

 .option-header-home .nav-home button {

     margin: 5px;
     border: none;
 }
 .option-header-home  a {
     font-family: var(--texto);  
     font-size: 19px;
     color: var(--blanco);
     font-weight: 800 ;
    
     
 }

 .option-header-home i {

     
      color: var(--blanco);
      background-color: var(--negro);

 }

 .option-header-home-contact {

     display: flex;

 }

 .option-header-home-contact a {

     font-weight: 200;
 }

 .ofertas a {

     margin-right: 3rem;
     text-transform: uppercase;
     

     
 }

.header {
     display: flex; 
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: center;
     margin-top: 40px;
     height: 50px;
     
     background-color: var(--gris);
}

 button i{

   font-size: 2em;
   

}

nav .option-header {
     display: flex;
     position: absolute;
     top: 50px;
     right: 10px;  
}



 ul {

     list-style: none;
     gap: 25px;
          
}

li , a {
    
     text-decoration: none;
     color: var(--negro);
}

.option-header li a {

     font-size: 2em;
     
}

.header img {

     position: absolute;
     top: 34px;
     left: 2rem;
     height: 3.5rem;
     padding-left: 2rem;

}

.nav .menu-header button {
     position: absolute;
     top: 50px;
     left: 5px;
     border: none;
     padding-left: 5px;
     background-color: var(--gris);

     font-weight: 100;
}

.nav {

     display: flex;
     align-items: center;
     
     margin-top: 25px;
}

.container-search {

    
     
     display: flex;
     justify-content: center;
    
     width: 100%;
     max-width: 550px;
     padding: 0 1em;
     
     top: 105px;
     .promocion2 img {
     
               max-height: 200px;
          }
}

.container-search input {

        
          background-color: var(--blanco);
          border: 2px solid var(--negro);
          padding-left: 10px;
          width: 90%;
          height: 45px;
          border-radius: 5px 0 0 5px ;
          font-size: 1em;

}

.container-search input::placeholder {

     color: rgba(128, 128, 128, 0.514);
}

.container-search button{

     color: var(--blanco);
     background-color:var(--negro);
     border: 1px solid var(--negro);
     padding: 6px;
     width: 45px;
     height: 45px;
     border-radius: 0 5px 5px 0;
     font-size: 10px;
     
}


.promocion {

     display: flex;
     align-items: center;
     justify-content: center;

    

}



.promocion .img-promo img {

     
     width: 100%;
     padding: 8em 1em 0 1em;
}

.option-products {

     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 5px;
     margin-bottom: 50px;
}

.option-products li {

     list-style: none;
}

.option-products img {

    
    max-width: 280px;
     width: 100%;
     padding: 1em;
}

.promocion2 .img-promo {

     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 5px;
}

.promocion2 .img-promo img {

     max-width: 360px;
     width: 100%;
     padding: 0em 1em 0 1em;
     

}

.opcion-products img {


     width: 180px;
   
     padding: 1em;
}

.opcion-products-article {

     flex: 0 0 auto;
     width: 180px;
     height: 100%;
     padding: .4em;
    
    
     
}



.opcion-products-article:hover {

     border: .4px solid var(--gris-transparente);
     

}

.articles  {

     display: flex;
     flex-wrap: nowrap;
     overflow-x: hidden;
     margin: 1em 4em;
     justify-content:start;
   
    
   
}
/* intentar mejorar esta parte */
.articles:hover {

   overflow: auto;

}





.opcion-products-article .descripcion::after {

     content: "⭐⭐⭐⭐⭐(5) ";
     display: block;
     margin-top: 1em;
     font-size: 17px;
 
     
}


.cuore {

     display: flex;
     align-items: top;
     justify-content: space-between;
}

.cuore h3 {

     margin-right: 10px;
}
.cuore i {

     font-size: 1.5em;
     font-weight: bolder;
}

.precios {

     margin-top: 1em;
     width: max-content;
}

.precio {

     font-size: 15px;
     font-weight: 700;
}

.precio-anterior {

     font-size: 10px;
     font-weight: 100;
     color: rgb(95, 93, 93);
     text-decoration: line-through;
}

.descuento {

     font-size: 10px;
     color: var(--blanco);
     background-color: rgb(233, 78, 91);
     padding: 5px 7px;
     border-radius: 10px;
     margin-left: 10px;
}

.precio-aplazado {

     margin-top: 8px;
     font-size: 11px ;
     font-weight: 300;
}

#vendidos .cuore i{

     display: none;
}
#sin-descuento span {

     display: none;
}

.presentacion {

     background-color: var(--gris);
     margin: 0 6em ;
     padding: 2em 4em 2em 1.5em;
     text-align: start;
     font-size: 14px;
     font-family: var(--texto);


}

.presentacion .icon {

     font-size: 20px;
     padding: 0 15px ;
}


.footer {

     background-color: blueviolet;
}



@media screen and (max-width:581px) {

     .option-products img {

          max-height: 200px;

     }



}

@media screen and (max-width:395px) {

     .option-products img {

          max-height: 150px;

     }



}



@media screen and (max-width:1000px) {

     .container-search {


          position: absolute;

     }

     .option-header-home {

          opacity: 0;

     }

}




@media screen and (min-width:720px) {

     .opcion-products-titulo {

          justify-content: left;
     }

            .promocion2 .img-promo img {
     
                 max-width: 460px;
            }
}

@media screen and (min-width:1300px) {

     .articles {

          justify-content: center;
     }

     /* intentar mejorar esta parte */

          .opcion-products-titulo {
     
               margin-left: 10em;
     
     
     
          }
}

@media screen and (min-width:1000px) {

     .nav .menu-header button {

          display: none;
     }

     .header {

          background-color: var(--blanco);

     }


}